.spacer {
  flex: 1 1 auto;
}

.shadow {
  box-shadow: 0 2px 4px -1px rgba(182, 28, 28, 0.2), 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12);
}

.mat-elevation-z5 {
  position: relative;
  z-index: 2;
}

@media screen and (max-width: 600px) {
  mat-toolbar {
    font-size: 14px;
  }

  .title {
    display: none;
  }
}

