.mat-toolbar {
    background: teal;
    color: #fff;
  }
  
  .toolbar-span {
    font-size: 14px;
  }
  
  .toolbar-image {
    height: 40px;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }
  
  .my-fab {
    width: 35px;
    height: 35px;
    line-height: 35px;
    margin: 5px;
  }
  
  .card {
    display: grid;
    grid-template-columns: repeat(auto-fit, 350px);
    gap: 1em;
    justify-content: center;
  }
  
  .list {
    display: grid;
    grid-template-columns: repeat(auto-fit, 350px);
    gap: 1em;
    justify-content: center;
    width: 100%;
    margin: auto;
    margin-top: 2em;
  }
  